<footer class="bg-body-tertiary text-center footer">
  <!-- <section class="mb-4"> -->

  <a
    class="btn btn-outline btn-floating m-1"
    href="https://twitter.com/vs_2611"
    role="button"
    target="_blank"
    ><i class="fab fa-twitter"></i
  ></a>

  <a
    class="btn btn-outline btn-floating m-1"
    href="https://www.instagram.com/vivek.saliya"
    role="button"
    target="_blank"
    ><i class="fab fa-instagram"></i
  ></a>

  <a
    class="btn btn-outline btn-floating m-1"
    href="https://www.linkedin.com/in/viveksaliya/"
    role="button"
    target="_blank"
    ><i class="fab fa-linkedin-in"></i
  ></a>

  <p style="background-color: #f8f9fa">
    Source code at
    <a href="https://github.com/saliyavivek/pictura" target="_blank">Github</a>
    <br />
    Made with &hearts; by Vivek Saliya
  </p>
  <!-- </section> -->
</footer>
