<footer class="bg-body-tertiary text-center footer">
      <!-- <section class="mb-4"> -->
    
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
    
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <p style="background-color: #f8f9fa;;">Copyright &copy; 2023 Pinterest Inc. All rights reserved.</p>
      <!-- </section> -->
</footer>
