<% layout("layouts/boilerplate") -%>

<body>
  <h2>All Posts</h2>
  <div class="wrapper">
    <% for (let post of allPosts) { %>

    <div class="card">
      <img src="<%= post.image.url %>" />
      <div class="info">
        <h1><%= post.title %></h1>
        <p><%= post.description %></p>
        <a href="/posts/<%= post._id %>"><button>Explore</button></a>
      </div>
    </div>
    <% } %>
  </div>
</body>
