<% layout("layouts/boilerplate") -%>
<body>
    <div class="row mt-4">
        <div class="col-8 offset-2">
            <h2>Create new post</h2>
            <form method="POST" action="/posts" novalidate class="needs-validation" enctype="multipart/form-data">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="post[title]" id="title" class="form-control" placeholder="Enter title" required/> <br><br>
        
                <label for="description" class="form-label">Description</label>
                <textarea name="post[description]" id="description" class="form-control" cols="30" rows="10" required>Enter description</textarea> <br><br>
        
                <label class="form-label">Upload photo</label>
                <input type="file" name="post[image]" class="form-control" required/> <br><br>
        
                <button class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</body>